<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <title>Made by CSEE</title>
    <link rel="stylesheet" href="../styles.css">
  </head>
  <body BGCOLOR=#FFFFE0>
    <img align=center, height= 200, width=200, src=../boscotech-clear.png class="center">
    <div class="titles">{{ name }}</div>
    {% block content %}
    {% for teacher in teachers %}
      {% if teacher.profile %}
        {% for key, value in teacher.profile %}
            {% if key == "name" and value %}
              {% for key, value in teacher.profile.name %}
                  {% if key == "fullName" and value %}
                    {% set_global teacher_name = "Teacher: " ~ value %}
                  {% endif %}
              {% endfor %}
            {% elif key == "emailAddress" and value %}
              {% set_global teacher_email = "Email: " ~ value %}
            {% elif key == "verifiedTeacher" and value %}
              {% set isverified = value | as_str %}
              {% set_global verified_teacher = "Verified: " ~ isverified %}
            {% elif key == "photoUrl" and value %}
                {% set_global teacher_photo = "https:" ~ value %}
            {% endif %}
            {# Unused
              {% if key == "permissions" and value %}
                {% set_global teacher_perms = "Permissions: " ~ value %}
              {% endif %}
              {% if key == "id" and value %}
                {% set_global teacher_id = value %}
              {% endif %}
            #}
        {% endfor %}
      {% endif %}
      {% if teacher_photo and teacher_photo != "https://lh3.googleusercontent.com/a/default-user" %}
        <img src={{ teacher_photo }}>
      {% endif %}
      {% if teacher_name %}
        <div> {{ teacher_name }} </div>
      {% else %}
        <div> Teacher: None </div>
      {% endif %}
      {% if teacher_email %}
        <div> {{ teacher_email }} </div>
      {% else %}
        <div> Email: None </div>
      {% endif %}
      {% if verified_teacher %}
        <div> {{ verified_teacher }} </div>
      {% else %}
        <div> Verified: False </div>
      {% endif %}
    {% endfor %}
    <div class="buttons">
      {% if course_announcements %}
       <a href="#Announcements" class="button">Announcements</a>
      {% endif %}
      {% if coursework %}
       <a href="#Coursework" class="button">Coursework</a>
      {% endif %}
      {% if course_materials %}
       <a href="#Materials" class="button">Materials</a>
      {% endif %}
      {% if topics %}
        <a href="#Topics" class="button">Topics</a>
      {% endif %}
    </div>
    <div class="tab-folder">
     {% if course_announcements %}
     <div id="Announcements" class="content">
      <h2>Announcements</h2>
        {% for announcement in course_announcements %}
          {% if announcement %}
           {% set_global announcement_link = false %}
           {% set_global announcement_time = false %}
           {% set_global announcement_time = false %}
           {% set_global announcement_author = false %}
           {% set_global announcement_text = false %}
           {% set_global announcement_update_time = false %}
            {% for key, value in announcement %}
             {% if key == "alternateLink" and value %}
              {% set_global announcement_link = value %}
             {% elif key == "creationTime" and value %}
               {% set_global announcement_time = value %}
             {% elif key == "creatorUserId" and value %}
               {% set_global announcement_author = getusername(id=value) %}
             {% elif key == "text" and value %}
               {% set_global announcement_text = value %}
             {% elif key == "updateTime" and value %}
               {% set_global announcement_update_time = value %}
             {% endif %}
              {#
                {% if key == "state" and value %}
                  {% set_global announcement_state = value %}
                {% endif %}
                {% if key == "id" and value %}
                  {% set_global announcement_id = value %}
                {% endif %}
             #}
            {% endfor %}
            {% if announcement_link %}
              <div> Link to Original Announcement: <a href={{ announcement_link }}> {{ announcement_link }} </a> </div>
            {% endif %}
            {% if announcement_author and announcement_author != "None" %}
              <div> Posted By: {{ announcement_author }} </div>
            {% endif %}
            {% if announcement_update_time and announcement_time != announcement_update_time %}
              <div> Last Updated: {{ announcement_update_time | date(format="%m-%d-%y %I:%M %p", timezone="America/Los_Angeles") }} </div>
            {% elif announcement_time %}
              <div> Posted At: {{ announcement_time | date(format="%m-%d-%y %I:%M %p", timezone="America/Los_Angeles") }} </div>
            {% endif %}
            {% if announcement_text %}
              <div> {{ announcement_text | linebreaksbr | safe }} </div>
            {% endif %}
            {% if announcement.materials %}
              {% for material in announcement.materials %}
                {% for key, value in material %}
                  {% if key == "driveFile" and value %}
                    {% for key, value in value %}
                      {% if key == "driveFile" and value %}
                        {% for key, value in value %}
                          {% if key == "title" and value %}
                            {% set_global announcement_file_title = value %}
                          {% elif key == "alternateLink" and value %}
                            {% set_global announcement_file = value %}
                          {% elif key == "thumbnailUrl" and value and url_ok(url=value) %}
                            {% set_global announcement_file_thumbnail = value %}
                          {% endif %}
                        {% endfor %}
                        {% if announcement_file_title and not announcement_file and not announcement_file_thumbnail %}
                          <div> File: {{ announcement_file_title }} </div>
                        {% elif not announcement_file_title and announcement_file and not announcement_file_thumbnail %}
                          <div> Link to file: <a href={{ announcement_file }}> {{ announcement_file }} </a> </div>
                        {% elif announcement_file_title and announcement_file and not announcement_file_thumbnail %}
                          <div> <a href={{ announcement_file }}> {{ announcement_file_title }} </a> </div>
                        {% elif not announcement_file_title and not announcement_file and announcement_file_thumbnail %}
                          <div> File: </div>
                          <div> <img src={{ announcement_file_thumbnail }}> </div>
                        {% elif announcement_file_title and not announcement_file and announcement_file_thumbnail %}
                          <div> File: {{ announcement_file_title }} </div>
                          <div> <img src={{ announcement_file_thumbnail }}> </div>
                        {% elif not announcement_file_title and announcement_file and announcement_file_thumbnail %}
                          <div> File: <a href={{ announcement_file }}> {{ announcement_file }} </a> </div>
                          <div> <a href={{ announcement_file }}> <img src={{ announcement_file_thumbnail }}> </a> </div>
                        {% elif announcement_file_title and announcement_file and announcement_file_thumbnail %}
                          <div> File: <a href={{ announcement_file }}> {{ announcement_file_title }} </a> </div>
                          <div> <a href={{ announcement_file }}> <img src={{ announcement_file_thumbnail }}> </a> </div>
                        {% endif %}
                        {% set_global announcement_file_title = false %}
                        {% set_global announcement_file = false %}
                        {% set_global announcement_file_thumbnail = false %}
                      {% endif %}
                    {% endfor %}
                  {% elif key == "form" and value %}
                    {% for key, value in value %}
                      {% if key == "title" and value %}
                        {% set_global announcement_form_title = value %}
                      {% elif key == "formUrl" and value %}
                        {% set_global announcement_form = value %}
                      {% elif key == "thumbnailUrl" and value and url_ok(url=value) %}
                        {% set_global announcement_form_thumbnail = value %}
                      {% elif key == "responseUrl" and value %}
                        {% set_global announcement_form_reponse = value %}
                      {% endif %}
                    {% endfor %}
                    {% if announcement_form_title and not announcement_form and not announcement_form_thumbnail %}
                      <div> Google Form: {{ announcement_form_title }} </div>
                    {% elif not announcement_form_title and announcement_form and not announcement_form_thumbnail %}
                      <div> Google Form: <a href={{ announcement_form }}> {{ announcement_form }} </a> </div>
                    {% elif announcement_form_title and announcement_form and not announcement_form_thumbnail %}
                      <div> <a href={{ announcement_form }}> {{ announcement_form_title }} </a> </div>
                    {% elif not announcement_form_title and not announcement_form and announcement_form_thumbnail %}
                      <div> Google Form: </div>
                      <div> <img src={{ announcement_form_thumbnail }}> </div>
                    {% elif announcement_form_title and not announcement_form and announcement_form_thumbnail %}
                      <div> Google Form: {{ announcement_form_title }} </div>
                      <div> <img src={{ announcement_form_thumbnail }}> </div>
                    {% elif not announcement_form_title and announcement_form and announcement_form_thumbnail %}
                      <div> Google Form: <a href={{ announcement_form }}> {{ announcement_form }} </a> </div>
                      <div> <a href={{ announcement_form }}> <img src={{ announcement_form_thumbnail }}> </a> </div>
                    {% elif announcement_form_title and announcement_form and announcement_form_thumbnail %}
                      <div> Google Form: <a href={{ announcement_form }}> {{ announcement_form_title }} </a> </div>
                      <div> <a href={{ announcement_form }}> <img src={{ announcement_form_thumbnail }}> </a> </div>
                    {% endif %}
                    {% if announcement_form_reponse %}
                      {% if announcement_form_title %}
                        <div> Responses: <a href={{ announcement_form_reponse }}> {{ announcement_form_title }} </a> </div>
                      {% else %}
                        <div> Responses: <a href={{ announcement_form_reponse }}> {{ announcement_form_reponse }} </a> </div>
                      {% endif %}
                    {% endif %}
                    {% set_global announcement_form_title = false %}
                    {% set_global announcement_form = false %}
                    {% set_global announcement_form_thumbnail = false %}
                    {% set_global announcement_form_reponse = false %}
                  {% elif key == "link" and value %}
                    {% for key, value in value %}
                      {% if key == "title" and value %}
                        {% set_global announcement_link_title = value %}
                      {% elif key == "url" and value %}
                        {% set_global announcement_lnk = value %}
                      {% elif key == "thumbnailUrl" and value and url_ok(url=value) %}
                        {% set_global announcement_link_thumbnail = value %}
                      {% endif %}
                    {% endfor %}
                    {% if announcement_link_title and not announcement_lnk %}
                      <div> Link to: {{ announcement_link_title }} </div>
                    {% elif not announcement_link_title and announcement_lnk %}
                      <div> Link: <a href={{ announcement_lnk }}> {{ announcement_lnk }} </a> </div>
                    {% elif announcement_link_title and announcement_lnk %}
                      <div> Link: <a href={{ announcement_lnk }}> {{ announcement_link_title }} </a> </div>
                    {% endif %}
                    {% set_global announcement_link_title = false %}
                    {% set_global announcement_lnk = false %}
                    {% set_global announcement_link_thumbnail = false %}
                  {% elif key == "youtubeVideo" and value %}
                    {% for key, value in value %}
                      {% if key == "title" and value %}
                       {% set_global announcement_video_title = value %}
                      {% elif key == "alternateLink" and value %}
                       {% set_global announcement_video = value %}
                      {% elif key == "thumbnailUrl" and value and url_ok(url=value) %}
                       {% set_global announcement_video_thumbnail = value %}
                      {% endif %}
                    {% endfor %}
                    {% if announcement_video_title and not announcement_video and not announcement_video_thumbnail %}
                      <div> Video (Link not Provided): {{ announcement_video_title }} </div>
                    {% elif not announcement_video_title and announcement_video and not announcement_video_thumbnail %}
                      <div> Link to video: <a href={{ announcement_video }}> {{ announcement_video }} </a> </div>
                    {% elif announcement_video_title and announcement_video and not announcement_video_thumbnail %}
                      <div> <a href={{ announcement_video }}> {{ announcement_video_title }} </a> </div>
                    {% elif not announcement_video_title and not announcement_video and announcement_video_thumbnail %}
                      <div> Video: </div>
                      <div> <img src={{ announcement_video_thumbnail }}> </div>
                    {% elif announcement_video_title and not announcement_video and announcement_video_thumbnail %}
                      <div> Video: {{ announcement_video_title }} </div>
                      <div> <img src={{ announcement_video_thumbnail }}> </div>
                    {% elif not announcement_video_title and announcement_video and announcement_video_thumbnail %}
                      <div> Video: <a href={{ announcement_video }}> {{ announcement_video }} </a> </div>
                      <div> <a href={{ announcement_video }}> <img src={{ announcement_video_thumbnail }}> </a> </div>
                    {% elif announcement_video_title and announcement_video and announcement_video_thumbnail %}
                      <div> Video: <a href={{ announcement_video }}> {{ announcement_video_title }} </a> </div>
                      <div> <a href={{ announcement_video }}> <img src={{ announcement_video_thumbnail }}> </a> </div>
                    {% endif %}
                    {% set_global announcement_video_title = false %}
                    {% set_global announcement_video = false %}
                    {% set_global announcement_video_thumbnail = false %}
                  {% endif %}
                {% endfor %}
             {% endfor %}
            {% endif %}
           <br>
          {% endif %}
        {% endfor %}
      </div>
     {% endif %}
    {% if coursework %}
     <div id="Coursework" class="content">
       <h2>Coursework</h2>
       {% for work in coursework %}
          {% if work %}
           {% set_global work_link = false %}
           {% set_global work_time = false %}
           {% set_global work_time = false %}
           {% set_global work_author = false %}
           {% set_global work_description = false %}
           {% set_global work_due_date = false %}
           {% set_global work_due_time = false %}
           {% set_global work_max_points = false %}
           {% set_global work_grade_category_name = false %}
           {% set_global work_update_time = false %}
           {% set_global work_title = false %}
           {% set_global work_type = false %}
           {% set_global work_utc_date = false %}
           {% set_global work_year = false %}
           {% set_global work_month = false %}
           {% set_global work_day = false %}
           {% set_global work_hours = false %}
           {% set_global work_min = false %}
           {% set_global work_sec = false %}
            {% for key, value in work %}
             {% if key == "alternateLink" and value %}
               {% set_global work_link = value %}
             {% elif key == "creationTime" and value %}
               {% set_global work_time = value %}
             {% elif key == "creatorUserId" and value %}
               {% set_global work_author = getusername(id=value) %}
             {% elif key == "description" and value %}
               {% set_global work_description = value %}
             {% elif key == "dueDate" and value %}
               {% set_global work_due_date = value %}
             {% elif key == "dueTime" and value %}
               {% set_global work_due_time = value %}
             {% elif key == "gradeCategory" and value and value.name %}
               {% set_global work_grade_category_name = value.name %}
             {% elif key == "maxPoints" and value %}
               {% set_global work_max_points = value %}
             {% elif key == "multipleChoiceQuestion" and value %}
               {% set_global work_grade_mcq = value %}
             {% elif key == "updateTime" and value %}
               {% set_global work_update_time = value %}
             {% elif key == "title" and value %}
               {% set_global work_title = value %}
             {% elif key == "workType" and value %}
               {% set_global work_type = value %}
             {% endif %}
              {#
                {% if key == "state" and value %}
                  {% set_global work_state = value %}
                {% endif %}
                {% if key == "id" and value %}
                  {% set_global work_id = value %}
                {% endif %}
                {% if key == "topicId" and value %}
                  {% set_global work_topic_id = value %}
                {% endif %}
             #}
            {% endfor %}
            {% if work_link and work_title %}
              <div> <a href={{ work_link }}> {{ work_title }} </a> </div>
            {% elif work_link %}
              <div> Link to Original Assignment: <a href={{ work_link }}> {{ work_link }} </a> </div>
            {% endif %}
            {% if work_author and work_author != "None" %}
              <div> Created By: {{ work_author }} </div>
            {% endif %}
            {% if work_update_time and work_time != work_update_time %}
              <div> Last Updated: {{ work_update_time | date(format="%m-%d-%y %I:%M %p", timezone="America/Los_Angeles") }} </div>
            {% elif work_time %}
              <div> Created At: {{ work_time | date(format="%m-%d-%y %I:%M %p", timezone="America/Los_Angeles") }} </div>
            {% endif %}
            {% if work_grade_category_name %}
              <div> Assignment in {{ work_grade_category_name }} </div>
            {% endif %}
            {% if work_due_date and work_due_time %}
              {% set_global work_utc_date = "" %}
              {% set_global work_utc_date = work_utc_date ~ work_due_date.year | as_str %}
              {% set_global work_month = work_due_date.month | as_str %}
              {% if work_month | length == 2 %}
                {% set_global work_utc_date = work_utc_date ~ "-" ~ work_month %}
              {% else %}
                {% set_global work_utc_date = work_utc_date ~ "-0" ~ work_month %}
              {% endif %}
              {% set_global work_day = work_due_date.day | as_str %}
              {% if work_day | length == 2 %}
                {% set_global work_utc_date = work_utc_date ~ "-" ~ work_day %}
              {% else %}
                {% set_global work_utc_date = work_utc_date ~ "-0" ~ work_day %}
              {% endif %}
              {% set_global work_utc_date = work_utc_date ~ "T" %}
              {% set_global work_hours = work_due_time.hours | as_str %}
              {% if work_hours | length == 2 %}
                {% set_global work_utc_date = work_utc_date ~ "" ~ work_hours %}
              {% else %}
                {% set_global work_utc_date = work_utc_date ~ "0" ~ work_hours %}
              {% endif %}
              {% set_global work_min = work_due_time.minutes | as_str %}
              {% if work_min | length == 2 %}
                {% set_global work_utc_date = work_utc_date ~ ":" ~ work_min %}
              {% else %}
                {% set_global work_utc_date = work_utc_date ~ ":0" ~ work_min %}
              {% endif %}
              {% set_global work_sec = work_due_time.seconds | as_str %}
              {% if work_sec | length == 2 %}
                {% set_global work_utc_date = work_utc_date ~ ":" ~ work_sec %}
              {% else %}
                {% set_global work_utc_date = work_utc_date ~ ":0" ~ work_sec %}
              {% endif %}
              {% set_global work_utc_date = work_utc_date ~ "Z" %}
              <div> Due Date: {{ work_utc_date | date(format="%m-%d-%y %I:%M %p", timezone="America/Los_Angeles") }} </div>
            {% elif work_due_date %}
              {% set_global work_utc_date = "" %}
              {% set_global work_utc_date = work_utc_date ~ work_due_date.year | as_str %}
              {% if work_due_date.month | as_str | length == 2 %}
                {% set_global work_utc_date = work_utc_date ~ work_due_date.month | as_str %}
              {% else %}
                {% set_global work_utc_date = work_utc_date ~ "0" ~ work_due_date.month | as_str %}
              {% endif %}
              {% if work_due_date.day | as_str | length == 2 %}
                {% set_global work_utc_date = work_utc_date ~ work_due_date.day | as_str %}
              {% else %}
                {% set_global work_utc_date = work_utc_date ~ "0" ~ work_due_date.day | as_str %}
              {% endif %}
              {% set_global work_utc_date = work_utc_date ~ "T00:00:00Z" %}
              <div> Due Date: {{ work_utc_date | date(format="%m-%d-%y", timezone="America/Los_Angeles") }} </div>
            {% endif %}
            {% set_global work_utc_date = false %}
            {% if work_max_points %}
              <div> {{ work_max_points }} points </div>
            {% endif %}
            {% if work_type %}
              <div> Type of Coursework: {{ work_type }} </div>
            {% endif %}
            {% if work_description %}
              <div> {{ work_description }} </div>
            {% endif %}
            {% if work_grade_mcq %}
              <div> Choices: </div>
              {% for key,choice in work_grade_mcq %}
                <div> {{ choice }} </div>
              {% endfor %}
            {% endif %}
            {% if work_text %}
              <div> {{ work_text | linebreaksbr | safe }} </div>
            {% endif %}
            {% if work.materials %}
              {% for material in work.materials %}
                {% for key, value in material %}
                  {% if key == "driveFile" and value %}
                    {% for key, value in value %}
                      {% if key == "driveFile" and value %}
                        {% for key, value in value %}
                          {% if key == "title" and value %}
                            {% set_global work_file_title = value %}
                          {% elif key == "alternateLink" and value %}
                            {% set_global work_file = value %}
                          {% elif key == "thumbnailUrl" and value and url_ok(url=value) %}
                            {% set_global work_file_thumbnail = value %}
                          {% endif %}
                        {% endfor %}
                        {% if work_file_title and not work_file and not work_file_thumbnail %}
                          <div> File: {{ work_file_title }} </div>
                        {% elif not work_file_title and work_file and not work_file_thumbnail %}
                          <div> Link to file: <a href={{ work_file }}> {{ work_file }} </a> </div>
                        {% elif work_file_title and work_file and not work_file_thumbnail %}
                          <div> <a href={{ work_file }}> {{ work_file_title }} </a> </div>
                        {% elif not work_file_title and not work_file and work_file_thumbnail %}
                          <div> File: </div>
                          <div> <img src={{ work_file_thumbnail }}> </div>
                        {% elif work_file_title and not work_file and work_file_thumbnail %}
                          <div> File: {{ work_file_title }} </div>
                          <div> <img src={{ work_file_thumbnail }}> </div>
                        {% elif not work_file_title and work_file and work_file_thumbnail %}
                          <div> File: <a href={{ work_file }}> {{ work_file }} </a> </div>
                          <div> <a href={{ work_file }}> <img src={{ work_file_thumbnail }}> </a> </div>
                        {% elif work_file_title and work_file and work_file_thumbnail %}
                          <div> File: <a href={{ work_file }}> {{ work_file_title }} </a> </div>
                          <div> <a href={{ work_file }}> <img src={{ work_file_thumbnail }}> </a> </div>
                        {% endif %}
                        {% set_global work_file_title = false %}
                        {% set_global work_file = false %}
                        {% set_global work_file_thumbnail = false %}
                      {% endif %}
                    {% endfor %}
                  {% elif key == "form" and value %}
                    {% for key, value in value %}
                      {% if key == "title" and value %}
                        {% set_global work_form_title = value %}
                      {% elif key == "formUrl" and value %}
                        {% set_global work_form = value %}
                      {% elif key == "thumbnailUrl" and value and url_ok(url=value) %}
                        {% set_global work_form_thumbnail = value %}
                      {% elif key == "responseUrl" and value %}
                        {% set_global work_form_reponse = value %}
                      {% endif %}
                    {% endfor %}
                    {% if work_form_title and not work_form and not work_form_thumbnail %}
                      <div> Google Form: {{ work_form_title }} </div>
                    {% elif not work_form_title and work_form and not work_form_thumbnail %}
                      <div> Google Form: <a href={{ work_form }}> {{ work_form }} </a> </div>
                    {% elif work_form_title and work_form and not work_form_thumbnail %}
                      <div> <a href={{ work_form }}> {{ work_form_title }} </a> </div>
                    {% elif not work_form_title and not work_form and work_form_thumbnail %}
                      <div> Google Form: </div>
                      <div> <img src={{ work_form_thumbnail }}> </div>
                    {% elif work_form_title and not work_form and work_form_thumbnail %}
                      <div> Google Form: {{ work_form_title }} </div>
                      <div> <img src={{ work_form_thumbnail }}> </div>
                    {% elif not work_form_title and work_form and work_form_thumbnail %}
                      <div> Google Form: <a href={{ work_form }}> {{ work_form }} </a> </div>
                      <div> <a href={{ work_form }}> <img src={{ work_form_thumbnail }}> </a> </div>
                    {% elif work_form_title and work_form and work_form_thumbnail %}
                      <div> Google Form: <a href={{ work_form }}> {{ work_form_title }} </a> </div>
                      <div> <a href={{ work_form }}> <img src={{ work_form_thumbnail }}> </a> </div>
                    {% endif %}
                    {% if work_form_reponse %}
                      {% if work_form_title %}
                        <div> Responses: <a href={{ work_form_reponse }}> {{ work_form_title }} </a> </div>
                      {% else %}
                        <div> Responses: <a href={{ work_form_reponse }}> {{ work_form_reponse }} </a> </div>
                      {% endif %}
                    {% endif %}
                    {% set_global work_form_title = false %}
                    {% set_global work_form = false %}
                    {% set_global work_form_thumbnail = false %}
                    {% set_global work_form_reponse = false %}
                  {% elif key == "link" and value %}
                    {% for key, value in value %}
                      {% if key == "title" and value %}
                        {% set_global work_link_title = value %}
                      {% elif key == "url" and value %}
                        {% set_global work_lnk = value %}
                      {% elif key == "thumbnailUrl" and value and url_ok(url=value) %}
                        {% set_global work_link_thumbnail = value %}
                      {% endif %}
                    {% endfor %}
                    {% if work_link_title and not work_lnk %}
                      <div> Link to: {{ work_link_title }} </div>
                    {% elif not work_link_title and work_lnk %}
                      <div> Link: <a href={{ work_lnk }}> {{ work_lnk }} </a> </div>
                    {% elif work_link_title and work_lnk %}
                      <div> Link: <a href={{ work_lnk }}> {{ work_link_title }} </a> </div>
                    {% endif %}
                    {% set_global work_link_title = false %}
                    {% set_global work_lnk = false %}
                    {% set_global work_link_thumbnail = false %}
                  {% elif key == "youtubeVideo" and value %}
                    {% for key, value in value %}
                      {% if key == "title" and value %}
                       {% set_global work_video_title = value %}
                      {% elif key == "alternateLink" and value %}
                       {% set_global work_video = value %}
                      {% elif key == "thumbnailUrl" and value and url_ok(url=value) %}
                       {% set_global work_video_thumbnail = value %}
                      {% endif %}
                    {% endfor %}
                    {% if work_video_title and not work_video and not work_video_thumbnail %}
                      <div> Video (Link not Provided): {{ work_video_title }} </div>
                    {% elif not work_video_title and work_video and not work_video_thumbnail %}
                      <div> Link to video: <a href={{ work_video }}> {{ work_video }} </a> </div>
                    {% elif work_video_title and work_video and not work_video_thumbnail %}
                      <div> <a href={{ work_video }}> {{ work_video_title }} </a> </div>
                    {% elif not work_video_title and not work_video and work_video_thumbnail %}
                      <div> Video: </div>
                      <div> <img src={{ work_video_thumbnail }}> </div>
                    {% elif work_video_title and not work_video and work_video_thumbnail %}
                      <div> Video: {{ work_video_title }} </div>
                      <div> <img src={{ work_video_thumbnail }}> </div>
                    {% elif not work_video_title and work_video and work_video_thumbnail %}
                      <div> Video: <a href={{ work_video }}> {{ work_video }} </a> </div>
                      <div> <a href={{ work_video }}> <img src={{ work_video_thumbnail }}> </a> </div>
                    {% elif work_video_title and work_video and work_video_thumbnail %}
                      <div> Video: <a href={{ work_video }}> {{ work_video_title }} </a> </div>
                      <div> <a href={{ work_video }}> <img src={{ work_video_thumbnail }}> </a> </div>
                    {% endif %}
                    {% set_global work_video_title = false %}
                    {% set_global work_video = false %}
                    {% set_global work_video_thumbnail = false %}
                  {% endif %}
                {% endfor %}
             {% endfor %}
            {% endif %}
           <br>
          {% endif %}
        {% endfor %}
     </div>
     {% endif %}
    {% if course_materials %}
     <div id="Materials" class="content">
       <h2>Course Materials</h2>
       {% for course_material in course_materials %}
        {% for key, value in course_material %}
         {% if key == "alternateLink" and value %}
           {% set_global course_material_link = value %}
         {% elif key == "creationTime" and value %}
           {% set_global course_material_time = value %}
         {% elif key == "creatorUserId" and value %}
           {% set_global course_material_author = getusername(id=value) %}
         {% elif key == "description" and value %}
           {% set_global course_material_description = value %}
         {% elif key == "updateTime" and value %}
           {% set_global course_material_update_time = value %}
         {% endif %}
        {% endfor %}
        {% if course_material_link %}
         <div> Link to Material Post on Classroom: <a href={{ course_material_link }}> {{ course_material_link }} </a></div>
        {% endif %}
        {% if course_material_update_time and course_material_time != course_material_update_time %}
          <div> Last Updated: {{ course_material_update_time | date(format="%m-%d-%y %I:%M %p", timezone="America/Los_Angeles") }} </div>
        {% elif course_material_time %}
          <div> Created At: {{ course_material_time | date(format="%m-%d-%y %I:%M %p", timezone="America/Los_Angeles") }} </div>
        {% endif %}
        {% if course_material_author and course_material_author != "None" %}
          <div> Created By: {{ course_material_author }} </div>
        {% endif %}
        {% if course_material_description %}
          <div> {{ course_material_description }} </div>
        {% endif %}
        {% set_global course_material_link = false %}
        {% set_global course_material_time = false %}
        {% set_global course_material_author = false %}
        {% set_global course_material_description = false %}
        {% set_global course_material_update_time = false %}
        {% if course_material.materials %}
          {% for material in course_material.materials %}
            {% for key, value in material %}
              {% if key == "driveFile" and value %}
                {% for key, value in value %}
                  {% if key == "driveFile" and value %}
                    {% for key, value in value %}
                      {% if key == "title" and value %}
                        {% set_global course_material_file_title = value %}
                      {% elif key == "alternateLink" and value %}
                        {% set_global course_material_file = value %}
                      {% elif key == "thumbnailUrl" and value and url_ok(url=value) %}
                        {% set_global course_material_file_thumbnail = value %}
                      {% endif %}
                    {% endfor %}
                    {% if course_material_file_title and not course_material_file and not course_material_file_thumbnail %}
                      <div> File: {{ course_material_file_title }} </div>
                    {% elif not course_material_file_title and course_material_file and not course_material_file_thumbnail %}
                      <div> Link to file: <a href={{ course_material_file }}> {{ course_material_file }} </a> </div>
                    {% elif course_material_file_title and course_material_file and not course_material_file_thumbnail %}
                      <div> <a href={{ course_material_file }}> {{ course_material_file_title }} </a> </div>
                    {% elif not course_material_file_title and not course_material_file and course_material_file_thumbnail %}
                      <div> File: </div>
                      <div> <img src={{ course_material_file_thumbnail }}> </div>
                    {% elif course_material_file_title and not course_material_file and course_material_file_thumbnail %}
                      <div> File: {{ course_material_file_title }} </div>
                      <div> <img src={{ course_material_file_thumbnail }}> </div>
                    {% elif not course_material_file_title and course_material_file and course_material_file_thumbnail %}
                      <div> File: <a href={{ course_material_file }}> {{ course_material_file }} </a> </div>
                      <div> <a href={{ course_material_file }}> <img src={{ course_material_file_thumbnail }}> </a> </div>
                    {% elif course_material_file_title and course_material_file and course_material_file_thumbnail %}
                      <div> File: <a href={{ course_material_file }}> {{ course_material_file_title }} </a> </div>
                      <div> <a href={{ course_material_file }}> <img src={{ course_material_file_thumbnail }}> </a> </div>
                    {% endif %}
                    {% set_global course_material_file_title = false %}
                    {% set_global course_material_file = false %}
                    {% set_global course_material_file_thumbnail = false %}
                  {% endif %}
                {% endfor %}
              {% elif key == "form" and value %}
                {% for key, value in value %}
                  {% if key == "title" and value %}
                   {% set_global course_material_form_title = value %}
                  {% elif key == "formUrl\" and value %}
                   {% set_global course_material_form = value %}
                  {% elif key == "thumbnailUrl" and value and url_ok(url=value) %}
                   {% set_global course_material_form_thumbnail = value %}
                  {% elif key == "responseUrl" and value %}
                   {% set_global course_material_form_reponse = value %}
                  {% endif %}
                {% endfor %}
                {% if course_material_form_title and not course_material_form and not course_material_form_thumbnail %}
                  <div> Google Form: {{ course_material_form_title }} </div>
                {% elif not course_material_form_title and course_material_form and not course_material_form_thumbnail %}
                  <div> Google Form: <a href={{ course_material_form }}> {{ course_material_form }} </a> </div>
                {% elif course_material_form_title and course_material_form and not course_material_form_thumbnail %}
                  <div> <a href={{ course_material_form }}> {{ course_material_form_title }} </a> </div>
                {% elif not course_material_form_title and not course_material_form and course_material_form_thumbnail %}
                  <div> Google Form: </div>
                  <div> <img src={{ course_material_form_thumbnail }}> </div>
                {% elif course_material_form_title and not course_material_form and course_material_form_thumbnail %}
                  <div> Google Form: {{ course_material_form_title }} </div>
                  <div> <img src={{ course_material_form_thumbnail }}> </div>
                {% elif not course_material_form_title and course_material_form and course_material_form_thumbnail %}
                  <div> Google Form: <a href={{ course_material_form }}> {{ course_material_form }} </a> </div>
                  <div> <a href={{ course_material_form }}> <img src={{ course_material_form_thumbnail }}> </a> </div>
                {% elif course_material_form_title and course_material_form and course_material_form_thumbnail %}
                  <div> Google Form: <a href={{ course_material_form }}> {{ course_material_form_title }} </a> </div>
                  <div> <a href={{ course_material_form }}> <img src={{ course_material_form_thumbnail }}> </a> </div>
                {% endif %}
                {% if course_material_form_reponse %}
                  {% if course_material_form_title %}
                    <div> Responses: <a href={{ course_material_form_reponse }}> {{ course_material_form_title }} </a> </div>
                  {% else %}
                    <div> Responses: <a href={{ course_material_form_reponse }}> {{ course_material_form_reponse }} </a> </div>
                  {% endif %}
                {% endif %}
                {% set_global course_material_form_title = false %}
                {% set_global course_material_form = false %}
                {% set_global course_material_form_thumbnail = false %}
                {% set_global course_material_form_reponse = false %}
              {% elif key == "link" and value %}
                {% for key, value in value %}
                  {% if key == "title" and value %}
                    {% set_global course_material_link_title = value %}
                  {% elif key == "url" and value %}
                    {% set_global course_material_lnk = value %}
                  {% elif key == "thumbnailUrl" and value and url_ok(url=value) %}
                    {% set_global course_material_link_thumbnail = value %}
                  {% endif %}
                {% endfor %}
                {% if course_material_link_title and not course_material_lnk %}
                  <div> Link to: {{ course_material_link_title }} </div>
                {% elif not course_material_link_title and course_material_lnk %}
                  <div> Link: <a href={{ course_material_lnk }}> {{ course_material_lnk }} </a> </div>
                {% elif course_material_link_title and course_material_lnk %}
                  <div> Link: <a href={{ course_material_lnk }}> {{ course_material_link_title }} </a> </div>
                {% endif %}
                {% set_global course_material_link_title = false %}
                {% set_global course_material_lnk = false %}
                {% set_global course_material_link_thumbnail = false %}
              {% elif key == "youtubeVideo" and value %}
                {% for key, value in value %}
                  {% if key == "title" and value %}
                   {% set_global course_material_video_title = value %}
                  {% elif key == "alternateLink" and value %}
                   {% set_global course_material_video = value %}
                  {% elif key == "thumbnailUrl" and value and url_ok(url=value) %}
                   {% set_global course_material_video_thumbnail = value %}
                  {% endif %}
                {% endfor %}
                {% if course_material_video_title and not course_material_video and not course_material_video_thumbnail %}
                  <div> Video (Link not Provided): {{ course_material_video_title }} </div>
                {% elif not course_material_video_title and course_material_video and not course_material_video_thumbnail %}
                  <div> Link to video: <a href={{ course_material_video }}> {{ course_material_video }} </a> </div>
                {% elif course_material_video_title and course_material_video and not course_material_video_thumbnail %}
                  <div> <a href={{ course_material_video }}> {{ course_material_video_title }} </a> </div>
                {% elif not course_material_video_title and not course_material_video and course_material_video_thumbnail %}
                  <div> Video: </div>
                  <div> <img src={{ course_material_video_thumbnail }}> </div>
                {% elif course_material_video_title and not course_material_video and course_material_video_thumbnail %}
                  <div> Video: {{ course_material_video_title }} </div>
                  <div> <img src={{ course_material_video_thumbnail }}> </div>
                {% elif not course_material_video_title and course_material_video and course_material_video_thumbnail %}
                  <div> Video: <a href={{ course_material_video }}> {{ course_material_video }} </a> </div>
                  <div> <a href={{ course_material_video }}> <img src={{ course_material_video_thumbnail }}> </a> </div>
                {% elif course_material_video_title and course_material_video and course_material_video_thumbnail %}
                  <div> Video: <a href={{ course_material_video }}> {{ course_material_video_title }} </a> </div>
                  <div> <a href={{ course_material_video }}> <img src={{ course_material_video_thumbnail }}> </a> </div>
                {% endif %}
                {% set_global course_material_video_title = false %}
                {% set_global course_material_video = false %}
                {% set_global course_material_video_thumbnail = false %}
              {% endif %}
            {% endfor %}
          {% endfor %}
        {% endif %}
        <br>
       {% endfor %}
     </div>
    {% endif %}
    {% if topics %}
      <div id="Topics" class="content">
       <h2>Topics</h2>
       {% for topic in topics %}
        {% if topic.name %}
         <div> {{ topic.name }} </div>
        {% elif topic.update_time %}
         <div> Last Updated: {{ topic.update_time | date(format="%m-%d-%y %I:%M %p", timezone="America/Los_Angeles") }} </div>
        {% endif %}
       {% endfor %}
      </div>
    {% endif %}
   </div>
    {% endblock content %}
    <footer><p><a href="../courses.html">Back to Course List</a></p> <p xmlns:cc="http://creativecommons.org/ns#" >This work is licensed under <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">CC BY-NC-SA 4.0<img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1"><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1"><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/nc.svg?ref=chooser-v1"><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/sa.svg?ref=chooser-v1"></a></p></footer>
  </body>
</html>
