{# This file takes a list of courses:

ListCoursesResponse {
  courses: [
    {
        {
            id: String,
            name: String,
            section: String,
            descriptionHeading: String,
            description: String,
            room: String,
            ownerId: String,
            creationTime: String,
            updateTime: string,
            enrollmentCode: string,
            courseState: String,
            alternateLink: String,
            teacherGroupEmail: String,
            courseGroupEmail: String,
            teacherFolder: {
                object (DriveFolder)
            },
            courseMaterialSets: [
                {
                object (CourseMaterialSet)
                }
            ],
            guardiansEnabled: boolean,
            calendarId: String,
            gradebookSettings: {
                object (GradebookSettings)
            }
        }
    }
  ],
  nextPageToken: String
}
#}

<nav>
  <ul>
    {%- for item in courses %}
    <li><a>{{item.name}}, {{ item.id }}</a>
    {%- endfor %}
  </ul>
</nav>
<main>
</main>
